@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./icons/webfonts/faall.min.css";
::-webkit-scrollbar {
    width: 2px;
  }
  .react-sweet-progress-symbol {
    color: aqua !important;
  }
  /* Track */
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply   bg-transparent 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ea3a6080;
  }